<!DOCTYPE html>
<html>
<head>
  <title>Journal</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Write</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Analysis</a>
    </li>
  </ul>
  <div class="container content">
        {% block content %}{% endblock %}
  </div>
</body>
</html>
